    {{>nav}}

<div>
    <h2>Registrarse</h2>
    <hr>
    <form action="/api/session/register" method="post">

    <label for="first_name">Nombre:</label>
    <input type="text" id="name" name="first_name" required>

    <label for="last_name">Apellido:</label>
    <input type="text" id="last_name" name="last_name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="age">Edad:</label>
    <input type="number" id="age" name="age" required>

    <input type="submit" value="Registrarse">
    </form>
    <p>Ya tienes cuenta? <a href="/login">Login</a></p>
</div>